.container {
    display: flex;
    margin-bottom: 20px;
}

.filterItem {
    border-radius: 8px;
    padding: 8px 12px;
    margin-right: 10px;
    cursor: pointer;
}

.select {
    border: 1px solid #E4E6ED;
}

.button {
    border: 1px solid #0062FF;
    color: #0062FF;
    background-color: white;
}
